<?xml version='1.0' encoding='utf-8'?>
<widget id="com.yourname.blockdodge"
        version="1.0.0"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">

  <name>Block Dodge</name>
  <description>Dodge the falling blocks!</description>
  <author email="you@example.com" href="https://example.com">Your Name</author>

  <content src="index.html" />

  <access origin="*" />

  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />

  <!-- Android full-screen / orientation -->
  <preference name="Fullscreen"             value="true" />
  <preference name="Orientation"            value="portrait" />
  <preference name="DisallowOverscroll"     value="true" />
  <preference name="BackgroundColor"        value="0xff111111" />
  <preference name="AndroidWindowSoftInputMode" value="adjustPan" />

  <!-- Cordova splash/icon hooks -->
  <platform name="android">
    <allow-intent href="market:*" />
    
  </platform>

</widget>
